:root {
  --primary-color: #0a66c2;
  --color-text-gray: #929292;
  --color-text-dark-gray: #6e6e6e;
  --card-border: 1px solid #dcdcdc;
  --color-btn-hover: #e2f0fe;
  --color-gray-btn-hover: #ebebeb;
  --color-background: #f3f2ef;
  --color-background-card: #ffffff;
}

a {
  color: var(--primary-color);
  font-weight: 600;
}

.card-icon {
  color: var(--color-text-dark-gray);
  font-size: 1.5rem;
}

.App {
  background-color: var(--color-background);
}

.custom-card {
  border: var(--card-border);
  border-radius: 10px;
  padding-bottom: 15px;
  margin-top: 6px;
  padding-block: 15px;
  background-color: var(--color-background-card);
}

.header-card {
  font-size: 1.2rem;
  font-weight: 600;
}

.text-light-grey {
  color: var(--color-text-gray);
  font-size: 0.9rem;
}
.text-small {
  font-size: 0.8rem;
}

.header-small {
  font-weight: 600;
}
.header-small-gray {
  font-weight: 600;
  color: var(--color-text-gray);
}

.show-all-btn {
  padding-block: 10px;
  cursor: pointer;
}
.show-all-btn:hover {
  background-color: var(--color-gray-btn-hover);
}
.gray-custom-btn {
  font-weight: 600;
  border-radius: 50px;
  padding-inline: 17px;
  padding-block: 4px;
  border: 1px solid var(--color-text-gray);
  color: var(--color-text-gray);
  background-color: transparent;
}

.gray-custom-btn:hover {
  border: 1px solid var(--color-text-gray);
  background-color: var(--color-gray-btn-hover);
  color: var(--color-text-gray);
}
