.name-user-p {
  font-size: 0.9rem;
}

.title-user-p {
  font-size: 0.9rem;
  margin-top: -2px;
}
.profile-img-post-feed img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  outline: 3px solid white;
  object-fit: cover;
}

.responsive-img {
  width: 100%;
  height: auto;
}
